.movie-card {
  width: 280px;
  border-radius: 12px;
 
  color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  overflow: hidden;
  margin: 0 8px;
}

.movie-card img {
  height: 250px;
  object-fit: cover;
}
